* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body { 
    min-height: 100vh;
    background: #121212;
}

.menu {
    background: #1e1e1e;
    padding: 12px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0,0,0,0.5);
    width: 450px;
    margin: 20px auto 0;
    border-radius: 12px;
}

/* Bem vindo */
#bemVindo {
    color: #FFA500;
    font-size: 15pt;
    font-weight: bold;
}

/* Botão Meu Perfil */
#bntPerfil{
    background-color: #FFA500;
    padding: 5px 12px;
    border: none;
    color: #121212;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.1s;
}

#btnPerfil:hover {
    background-color: #FFA459;
}

.overlay {
    background-color: #1e1e1e;
    padding: 20px;
    width: 450px;
    margin: 30px auto;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.back-btn {
    background: #FFA500;
    border: none;
    width: 90px;
    height: 30px;
    border-radius: 5px;
    color: #121212;
    cursor: pointer;
    position: relative;
    top: -1px;        
    right: 145px;
    transition: 0.3s;
}

.back-btn:hover {
    background-color: #FFA459;
}

.profile-name {
    color: #FFA500;
    font-size: 1.8rem;
    text-align: center;
    position: relative;
    top: -25px;        
    right: 15;   
}

/* Informações dos Pontos */

.info {
    text-align: center;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 13pt;
}

.feedbacklist {
    text-align: center;
    color: #fff;
    font-size: 18pt;
}

#textarea {
    background-color: #1e1e1e;
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.5);
    width: 350px;
    height: 80px;
    outline: none;
    resize: none;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 0.9rem;
    padding: 10px;

}

/* Botão de enviar */

.btnEnviar {
    text-align: center;
}

.btn-enviar{
    background-color: #FFA500;
    border: none;
    width: 130px;
    height: 35px;
    color: #121212;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-enviar:hover {
    background-color: #FFA459;
}





