* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body { 
    min-height: 100vh;
    background: #121212;
}

.menu {
    display: none;
    background: #1e1e1e;
    padding: 12px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0,0,0,0.5);
    width: 450px;
    margin: 20px auto 0;
    border-radius: 12px;
}

/* Bem vindo */
#bemVindo {
    color: #FFA500;
    font-size: 15pt;
    font-weight: bold;
}

/* Botão Meu Perfil */
#bntPerfil{
    background-color: #FFA500;
    padding: 5px 12px;
    border: none;
    color: #121212;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.1s;
}

#bntPerfil:hover {
    background-color: #FFA459;
}


.overlay {
    background-color: #1e1e1e;
    border-radius: 12px;
    padding: 50px;
    width: 450px;
    text-align: center;
    box-sizing: 0 0 20px rgba(0,0,0,0.6);
    margin: 50px auto;
  }

.profile-name {
    color: #FFA500;
    margin-top: -35px;
    font-size: 2.0rem;
}

.back-btn {
    align-self: flex-start;
    margin-bottom: 10px;
    padding: 5px 10px;
    background-color: #FFA500;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-right: 260px;
    margin-left: -50px;
    margin-bottom: 10px;
    transition: 0.1s;
    z-index: 9999;

}

.back-btn:hover {
    background-color: #FFA459;
}

/* Informações do estagiário */

.info {
    color: #fff;
    font-size: 1.0rem;
}

.feedbacks{
    color: #fff;
    font-size: 1.2rem;
}

.feedbacklist ul {
    list-style: none;
    padding: 0;
}

.feedbacklist ul li {
    color: #fff;
    background-color: rgba(245, 245, 245, 0);
    margin-bottom: 6px;
    padding: 8px;
    border-radius: 6px;
}




