* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body { 
    min-height: 100vh;
    background: #121212;
}

.menu {
    background: #1e1e1e;
    padding: 12px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0,0,0,0.5);
    width: 450px;
    margin: 20px auto 0;
    border-radius: 12px;
}

/* Bem vindo */
#bemVindo {
    color: #FFA500;
    font-size: 15pt;
    font-weight: bold;
}

/* Botão Meu Perfil */
#bntPerfil{
    background-color: #FFA500;
    padding: 5px 12px;
    border: none;
    color: #121212;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.1s;
}

#btnPerfil:hover {
    background-color: #FFA459;
}

/* Informações dos estágiários */

.overlay {
    background-color: #1e1e1e;
    padding: 20px;
    width: 450px;
    margin: 50px auto;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.back-btn {
    background: #FFA500;
    border: none;
    width: 90px;
    height: 30px;
    border-radius: 5px;
    color: #121212;
    cursor: pointer;
    position: relative;
    top: -1px;        
    right: -5px;
    z-index: 9999;
}

.back-btn:hover {
    background-color: #FFA459;
}

.profile-estágiário {
    color: #FFA500;
    font-size: 1.8rem;
    text-align: center;
    position: relative;
    top: -25px;        
    left: 8px;   
}

/* Cards dos estagiários */ 

.card-dashbord {
    width: 200px;
    padding: 20px;
    border-radius: 12px;
    background-color: #2c2c2c;
    box-shadow: 0 2px 10px rgba(0,0,0,0.5);
    position: relative;
    margin: 20px auto;
    top: -15px;
    left: 0;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.card-dashbord:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px #FFA500;
}


.cards-dashbord {
    font-size: 13px;
    text-align: center;
    color: #fff;
    
}

.badge {
    display: block;
    margin-top: 5px;
    background: #FFA500;
    padding: 5px 8px;
    border-radius: 6px;
    position: relative;
    top: 5px;
}







